# nextjs no-code chrome extension builder

## core principles
- focus exclusively on core functionality for each feature request
- avoid feature creep and unnecessary complexity
- prioritize essential user workflows and app security

## terminal commands
- only use syntax for windows powershell

## architecture
- use pages router pattern
- full pages go in src\components\pages
- reusable UI components go in src\components\ui
- create reusable UI components whenever needed

## code style
- log key information to test features as added

## database related changes
- reference supabase-info.md for all database related changes