# nextjs no-code chrome extension builder

## core principles
- focus exclusively on core functionality for each feature request
- avoid feature creep and unnecessary complexity
- prioritize essential user workflows and app security

## terminal commands
- only use syntax for windows powershell and node

## architecture
- use pages router pattern
- full pages go in src\components\pages
- create reusable UI components in src\components\ui to prevent frontend files from becoming too large

## code style
- log key information to test features as added
- always use the @ for aliasing files

## testing
- for any major or independent changes, create and run tests in test/utils
- run tests using node test/utils/test-name.test.js